/*  
Skin Name: Gray
Version: 1.0
Description: Skin for Responz
*/

h1, h2, h3, h4, h5, h6 {
	color: #636363;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/************************************************************************************
HEADER
*************************************************************************************/
#nav-bar {
	background-color: #959595;
}
#header {
	border-color: #959595;
}

/************************************************************************************
PAGE NAV
*************************************************************************************/
.pagenav a {
	background-color: #cf5d00;
}
.pagenav a:hover {
	background-color: #959595;
}

/************************************************************************************
POST NAV
*************************************************************************************/
.post-nav span span {
	background-color: #cf5d00;
}
.post-nav a:hover span {
	background: #959595;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background-color: #959595;
}
#footer {
	color: #e6e6e6;
}
#footer a {
	color: #fdf9c5;
}

/* footer widget */
#footer .widget li {
	border-color: #aaa;
}
